.my-container {
    width: 94%;
    margin: 0 auto;
}

.my-container2 {
    width: 94%;
    margin: 0 auto;
}

.container {
    width: 70% !important;
    margin: 0 auto !important;
}

.header-up {
    display: flex;
    align-items: center;
    min-height: 50px;
}

.slider img {
    width: 100%;
}

.address {
    height: 20px;
    margin-left: 3px;
}

.address p {
    text-align: left;
    color: #777777;
    font-family: visby cf, Sans-serif;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5em;
}

.sosial {
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 16px;
}

.search {
    font-size: 20px;
    margin-left: 100px;
}

.request {
    display: flex;
    justify-content: end;
}

.request a {
    border: none;
    background-color: #f9dd00;
}

.request a span {
    padding: 20px 40px;
    text-decoration: inherit;
    font-size: 19px;
    display: inline-block;
    line-height: 1;
    font-family: visby cf, Sans-serif !important;
    font-weight: bold;
    text-align: center;
}

.menu ul {
    display: flex;
    list-style: none;
    margin-left: 30px;
    gap: 30px;
    margin-top: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-family: visby cf, Sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 0;
    position: relative;
}

.menu-area {
    display: flex;
    z-index: 9999;
    position: absolute;
}

.menu {
    width: 800px;
    margin-left: 165px;
}

.logo {
    margin-top: 10px;
    margin-left: 50px;
}

.menu ul li a:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: #f9dd00;
    transition: all 0.5s;
}

.menu ul li a:after {
    content: '';
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: #f9dd00;
    transform: scaleX(0);
    transform-origin: top;
    transition: all 0.5s;
}

ul li a:hover:before,
ul li a:hover:after {
    transform: scaleX(1);
}

#fileds-area {
    margin-top: 100px;
}

#fileds-area .fields h2:nth-child(1) {
    font-family: visby cf, Sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-transform: lowercase;
    line-height: 1px;
    letter-spacing: -1.2px;
}

#fileds-area .fields h2:nth-child(2) {
    font-family: visby cf, Sans-serif;
    font-size: 38px;
    font-weight: 300;
    line-height: .1em;
    padding-top: 50px;
}

#fileds-area .fields img {
    margin-top: 50px;
}

#fileds-area .fields span {
    font-family: visby cf, Sans-serif !important;
    font-size: 17px;
    font-weight: 300;
    color: #818a91;
}

.program-design {
    display: flex;
    cursor: pointer;
}

.program-design h2 {
    font-size: 21px;
    font-weight: 800;
    font-style: normal;
    line-height: 0;
    padding-top: 80px;
    font-family: visby cf, Sans-serif !important;
}

.program-design .marketing {
    width: 300px;
    height: 200px;
    border: 1px solid grey;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    padding: 20px;
    transition: 0.5s;
}

.program-design .design {
    width: 300px;
    height: 200px;
    border: 1px solid grey;
    border-bottom: 1px solid white;
    padding: 20px;
    transition: 0.5s;
}

.security-programming {
    display: flex;
    cursor: pointer;
}

.security-programming h2 {
    font-size: 21px;
    font-weight: 800;
    font-style: normal;
    line-height: 0;
    padding-top: 80px;
    font-family: visby cf, Sans-serif !important;
}

.security-programming .security {
    width: 300px;
    height: 200px;
    border: 1px solid grey;
    border-right: 1px solid white;
    padding: 20px;
    transition: 0.5s;
}

.security-programming .programming {
    width: 300px;
    height: 200px;
    border: 1px solid grey;
    padding: 20px;
    transition: 0.5s;
}

.program-design .design:hover {
    transform: scale(1.1);
    color: #fff;
    background-color: #ffc107;
    border: none;
}

.program-design .marketing:hover {
    transform: scale(1.1);
    color: #fff;
    background-color: #872891;
    border: none;
}

.security-programming .security:hover {
    transform: scale(1.1);
    color: #fff;
    background-color: #00B45A;
    border: none;
}

.security-programming .programming:hover {
    transform: scale(1.1);
    color: #fff;
    background-color: #2382C8;
    border: none;
}

#code-about {
    margin-top: 100px;
}

#code-about .info h2:nth-child(1) {
    font-family: visby cf, Sans-serif;
    font-size: 50px;
    font-weight: 300;
}


#code-about .info h2:nth-child(2) {
    font-family: visby cf, Sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 70px;
}

#code-about .info img {
    margin-top: 50px;
}

#code-about .info span {
    font-family: visby cf, Sans-serif !important;
    font-size: 17px;
    font-weight: 300;
    color: #818a91;
}

#info-area {
    margin-top: 100px;
}

#info-area .card-code {
    display: flex;
    width: 550px;
    height: 300px;
    justify-content: space-between;
}

#info-area .card-code .img {
    width: 206px;
    height: 206px;
}

#info-area .card-code .img img {
    width: 100%;
    height: 100%;

}

#info-area .card-info {
    width: 300px;
    height: 206px;
}

#info-area .card-info p {
    color: #656565;
    font-family: visby cf, Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

#info-area .card-info a:nth-child(1) {
    text-decoration: none;
    font-family: visby cf, Sans-serif;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    color: black;
    cursor: pointer;
}

#info-area .card-info a {
    text-decoration: none;
    font-family: visby cf, Sans-serif;
    font-size: 14px;
    font-weight: 800;
    font-style: normal;
    color: black;
    cursor: pointer;
}

.academy-page {
    margin-left: -104px;
    margin-top: 30px;
    width: 230px;
    height: 200px;
    background-color: white;
}

.academy-page ul {
    display: inline-block;
    margin-left: -10px;
}

.academy-page ul li a {
    color: black;
    font-family: roboto, Sans-serif;
    font-weight: 500
}

.academy-page ul li {
    padding-bottom: 15px;
}

.education-page {
    margin-left: -129px;
    margin-top: 30px;
    width: 230px;
    height: 200px;
    background-color: white;
}

.education-page ul {
    display: inline-block;
    margin-left: -10px;
}

.education-page ul li a {
    color: black;
    font-family: roboto, Sans-serif;
    font-weight: 500
}

.education-page ul li {
    padding-bottom: 15px;
}

#partner-area h2:nth-child(1) {
    font-family: visby cf, Sans-serif !important;
    font-size: 60px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}


#partner-area h2:nth-child(2) {
    font-family: visby cf, Sans-serif !important;
    font-size: 60px;
    font-weight: 800;
    line-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#partner-area p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    font-weight: 200;

}

#partner-area .partner-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

#partner-area .partner-img {
    margin-top: 60px;
}

#partner-area .partner-img img {
    width: 130px;
    height: 60px;
}

#contact-me {
    width: 100%;
    height: 450px;
    background-color: #f4f5f9;
    cursor: pointer;
    margin-top: 100px;

}

#contact-me .meet {
    padding-top: 70px;
}

#contact-me .meet h2:nth-child(1) {
    font-family: visby cf, Sans-serif !important;
    font-size: 50px;
    font-weight: 300;
}


#contact-me .meet h2:nth-child(2) {
    font-family: visby cf, Sans-serif !important;
    font-size: 50px;
    font-weight: 800;
    line-height: 70px;
    margin-left: 80px;

}

#contact-me .meet p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 30px;
    font-weight: 200;
}

#footer-area ul li {
    list-style: none;
    padding-bottom: 20px;
}


#footer-area ul li a {
    text-decoration: none;
    color: #8f8f8f;
    font-weight: 300;
    gap: 40px;
    font-size: 13px;
}

#footer-area p {
    font-family: visby cf, Sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin-top: 120px;
}
 
#footer-area .number a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#footer-area .number {
    width: 100%;
    height: 80px;
    background-color: #f4f5f9;
}


#footer-area .number p {
    display: flex;
    font-weight: 200;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.footer-down {
    width: 100%;
    height: 100px;
    margin-top:60px;
}

.footer-down  span{
    color: #8f8f8f;
    font-size: 14px;
}

.footer-down .icons{
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 16px;
}

.footer-down .logo2 img{
 margin-left: 100px;
 display: flex;
 justify-content: center;
}